@import "tailwindcss";

@source "../../../../packages/riffy-components/src";

@import "@riffy/components/styles.css";

@keyframes ball-animate {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-ball-animate {
  animation: ball-animate 1s forwards;
}
